.loader {
  display: flex;
  justify-content: center;
}

.loader__img {
  padding: var(--spacing-md);
  animation: spin 2s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
