.resource {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: $spacing-lg;
  border-radius: $radius;
  background-color: $color-grey300;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-lg;
    border-bottom: 1px solid $color-grey100;
  }

  &__type {
    color: $color-grey600;
    text-transform: capitalize;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    align-self: flex-start;
    width: 150px;
    border-radius: 50%;
    margin-right: $spacing-xl;
  }

  &__detail {
    flex: 1 1 0%;
  }
}
