@import '../../styles.scss';

.resource {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: $spacing-lg;
  border-radius: $radius;
  background-color: $color-grey300;
}

.resource__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-lg;
  padding-bottom: $spacing-lg;
  border-bottom: 1px solid $color-grey100;
}

.resource__type {
  color: $color-grey600;
  text-transform: capitalize;
}

.resource__info {
  display: flex;
  justify-content: space-between;
}

.resource__img {
  align-self: flex-start;
  width: 150px;
  border-radius: 50%;
  margin-right: $spacing-xl;
}

.resource__detail {
  flex: 1;
}
