.button {
  padding: $spacing-md $spacing-xl;
  border: 0;
  outline: none;
  border-radius: $radius;
  text-align: center;
  font-weight: $font-weight-bold;
  cursor: pointer;
  transition: all 0.3s linear;

  &--primary {
    background-color: $color-grey600;
    color: $color-grey100;

    &:hover {
      background-color: $color-grey500;
    }
  }

  &--active {
    background-color: $color-blue600;

    &:hover {
      background-color: $color-blue500;
    }
  }

  &--disabled {
    opacity: $alpha32;
    pointer-events: none;
  }

  &--full {
    display: block;
    width: 100%;
  }
}
