.structure__special {
  margin-bottom: var(--spacing-md);
}

.structure__special-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.structure__special-img {
  width: 18px;
  margin-right: var(--spacing-md);
}
