.civilization__bonus {
  margin-bottom: var(--spacing-md);
}

.civilization__bonus-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.civilization__bonus-img {
  width: 18px;
  margin-right: var(--spacing-md);
  color: var(--color-blue600);
}
