.civilization__bonus {
  margin-bottom: $spacing-md;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-sm;
  }

  &-img {
    width: 18px;
    margin-right: $spacing-md;
    color: $color-blue600;
  }
}
