.search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-md);
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search__img {
  position: absolute;
  width: 20px;
  left: var(--spacing-sm);
}

.search__input {
  width: 250px;
  padding: var(--spacing-md) var(--spacing-xl);
  color: var(--color-slate-gray);
  background-color: var(--color-catskill-white);
  transition: all 0.5s ease-in;
}

.search__input:focus {
  width: 300px;
}
