.table {
  width: 100%;

  &__head {
    background-color: $color-grey500;
    border-bottom: 4px solid $color-grey100;
    text-align: left;
    font-weight: $font-weight-bold;
  }

  &__head th {
    width: 25%;
    position: relative;
    padding: $spacing-md;
    font-size: $font-sm;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__caret {
    position: absolute;
    right: 0;
  }

  &__registry {
    border-bottom: 1px solid $color-grey100;
  }

  &__property {
    padding: $spacing-md;
  }
}
