@import '../../styles.scss';

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-grey500;
  border-top: 4px solid $color-grey100;
}

.pagination__pages {
  margin: 0 $spacing-md;
  font-weight: $font-weight-semibold;
}

.pagination__actions {
  display: flex;
}

.pagination__separator {
  margin-left: $spacing-sm;
}
