:root {
  /* Color */
  --color-white: #ffffff;
  --color-bubbles: #e8fdff;
  --color-french-pass: #b8faff;

  --color-black: #000000;

  --color-broom: #ffe81f;
  --color-snuff: #dddfee;

  /* Font */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-base-size: 16px;
  --font-scale-ratio: 1.2;

  --font-xs: calc(1em / (var(--font-scale-ratio) * var(--font-scale-ratio)));
  --font-sm: calc(1em / var(--font-scale-ratio));
  --font-md: calc(1em * var(--font-scale-ratio));
  --font-lg: calc(1em * var(--font-scale-ratio) * var(--font-scale-ratio));
  --font-xl: calc(
    1em * var(--font-scale-ratio) * var(--font-scale-ratio) *
      var(--font-scale-ratio)
  );
  --font-xxl: calc(
    1em * var(--font-scale-ratio) * var(--font-scale-ratio) *
      var(--font-scale-ratio) * var(--font-scale-ratio)
  );
  --font-xxxl: calc(
    1em * var(--font-scale-ratio) * var(--font-scale-ratio) *
      var(--font-scale-ratio) * var(--font-scale-ratio) *
      var(--font-scale-ratio)
  );

  /* Spacing */
  /* --spacing: 8px; */
  --spacing-xxxl: calc(var(--font-base-size) * 5); /* 80px */
  --spacing-xxl: calc(var(--font-base-size) * 3); /* 48px */
  --spacing-xl: calc(var(--font-base-size) * 2); /* 32px */
  --spacing-lg: calc(var(--font-base-size) * 1.5); /* 24px */
  --spacing-md: calc(var(--font-base-size) * 1); /* 16px */
  --spacing-sm: calc(var(--font-base-size) * 0.5); /* 8px */

  --radius: 4px;

  /* Alpha */
  --alpha16: 0.16;
  --alpha32: 0.32;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button {
  font-size: var(--font-base-size);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: 0;
  border-radius: var(--radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: var(--spacing-sm) var(--spacing-md);
}
